@media screen and (max-width: 576px) {
  .web-nav {
    flex-direction: column;
  }
  .banner-container {
    flex-direction: column-reverse;
    width: 100%;
    justify-content: center;
  }
  .banner-info,
  .banner-pic {
    width: 100%;
  }
  .banner-pic img{
    margin:0px;
  }
  .item-container a,
  i {
    display: flex;
    flex-direction: column-reverse;
  }
  .banner-info {
    text-align: center;
  }
}
