@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

* {
    border: 0;
    margin: 0;
    padding: 0;
    font-family: "Poppins", sans-serif;
}

.btn-primary {

    border-radius: 41px;
    margin-bottom: 16px;
    background: rgb(224, 44, 109);
    padding: 10px 24px;
    cursor: pointer;
}

.web-nav {
    width: 80%;
    margin: 20px auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.web-title {

    color: rgb(58, 58, 58);
    font-size: 24px;
    font-weight: 700;
}

.items-container {
    font-family: Poppins;
    font-size: 16px;
    font-weight: 600;

}

.items-container>a,
i {

    text-decoration: none;
    margin-right: 15px;
    color: rgb(58, 58, 58);

}

.banner-container {
    width: 80%;
    display: flex;
    justify-content: space-between;
    margin: 70px auto;
    align-items: center;

}

.banner-info {

    width: 50%;
}

.banner-title {
    color: rgb(58, 58, 58);
    margin-bottom: 16px;
    font-size: 52px;
    font-weight: 700;
    line-height: 70px;


}

.banner-info p {

    color: rgb(58, 58, 58);
    margin-bottom: 16px;
    font-size: 16px;
    font-weight: 600;

}

.banner-pic {
    width: 50%;
}

.banner-pic img {

    width: 100%;
    width: 440px;
    height: 414px;
    margin-left: 100px;

}

.websites {
    width: 70%;
    margin: 70px auto;
}

.websites img {

    padding: 60px 40px;
}

.gear-items-container{

    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 10px;
    width: 70%;
    margin: 50px auto;
    justify-content: center;
    align-items: center;
}
.h2{
    color: rgb(58, 58, 58);
font-size: 28px;
font-weight: 600;
text-align: center;
}